* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    background: white;
    border-radius: 10px;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}